body{
    background-color: blue;
    color: yellow;
}

.head{
    padding: 30px;
    border-bottom: solid 2px yellow;
    text-align: center;
}

#container{
    text-align: center;
}

#container > img{
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}